body{ margin: 0; padding:0; font-family: 'gothic' !important}
img{ border: 0; outline: none;}
a:hover{ outline: none; border: none; text-decoration:none;}
@font-face {
	font-family: 'gothic';
	src: url('../fonts/gothic.eot');
	src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}
@media(min-width:1366px){
	.container-sm{
		max-width:1300px;
		width:100%;
	}
}
@media(min-width:1500px){
	.container-sm{
		max-width:1480px;
		width:100%;
	}
}
@media(min-width:1600px){
	.container-sm{
		max-width:1580px;
		width:100%;
	}
}
@media(min-width:1800px){
	.container-sm{
		max-width:1780px;
		width:100%;
	}
}
.white-border-btn{
	border: 1px solid #fff; 
	border-radius: 5px; 
	font-weight: bold; 
	line-height: normal;
	padding: 10px 25px; 
	color: #fff;
}
.yellow-btn{
	border: 1px solid #FECD06; 
	border-radius: 5px; 
	font-weight: bold; 
	line-height: normal;
	padding: 10px 25px; 
	background-color: #FECD06; 
	color: #2e3e62; 
	font-size: 15px;
}
.yellow-btn:hover{
	border: 1px solid #f8cd23;
	background-color: #f8cd23;
}
.sec-main-blue-heading{
	font-size: 25px;
	font-weight: bold; 
	color: #2E3E62; 
}
.sec-main-blue-sub-heading{
	color: #2e3e62;
	font-size: 18px;
}
.blue-btn{
	background-color: #2e3e62;
	border: 0 none;
	border-radius: 0; 
	color: #ffffff;
	font-size: 15px; 
	font-weight: bold;
	padding: 14px 12px;
}

/* header and slider css */
.header.comn_header{
	background: #228799;
	background: -moz-linear-gradient(top, #228799 0%, #257D91 29%, #2B5C7A 64%, #304D6F 86%, #31456A 98%);
	background: -webkit-linear-gradient(top, #228799 0%, #257D91 29%, #2B5C7A 64%, #304D6F 86%, #31456A 98%);
	background: linear-gradient(to bottom, #228799 0%, #257D91 29%, #2B5C7A 64%, #304D6F 86%, #31456A 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228799', endColorstr='#31456a',GradientType=0 );
	float: left;
	width: 100%;
	position: unset;
}
.header.fixed{ 
	position: fixed;
	top: 0; 
	left: 0; 
	width: 100%; 
	max-width: 100%; 
	right: 0; 
	margin: 0px auto; 
	z-index: 9999; 
	background: #228799;
	background: -moz-linear-gradient(top, #228799 10%, #257D91 35%, #2B5C7A 60%, #304D6F 80%, #31456A 100%);
	background: -webkit-linear-gradient(top, #228799 10%, #257D91 35%, #2B5C7A 60%, #304D6F 80%, #31456A 100%);
	background: linear-gradient(to bottom, #228799 10%, #257D91 35%, #2B5C7A 60%, #304D6F 80%, #31456A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228799', endColorstr='#31456a',GradientType=0 );
	box-shadow: 0 -2px 8px -1px #000000; 
	padding-top: 15px;
	padding-bottom: 15px;
}
.header{
	position: absolute;
	top: 0;
	width: 100%;
	padding: 30px 15px;
}
.header .nav.navbar-right{
	margin-right: 0;
	padding-top: 15px;
}
.navbar-default {
	background-color: transparent; 
	border-color: transparent; 
	margin-bottom: 0;
	z-index: 999;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{ 
	background-color: transparent; 
	color: #fff; 
	background-image: url(../images/menu-btm-yellow-border.jpg);
	background-size: auto;
	background-position: bottom left; 
	background-repeat: no-repeat;
}
.navbar-default .navbar-nav > li > a{ 
	color: #fff;
	font-size: 16px; 
	padding: 0 0 10px;
	z-index: 999;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus{ 
	color: #fff;
	background-image: url(../images/menu-btm-yellow-border.jpg);
	background-size: auto;background-position: bottom left; 
	background-repeat: no-repeat; 
}
.navbar-nav > li{ 
	padding: 10px 20px; 
}
.navbar-default .navbar-nav > li.contact-btn {
	border-radius: 5px;
	font-weight: bold; 
	line-height: normal; 
	cursor: pointer;
} 
.navbar-default .navbar-nav > li.contact-btn a{ 
	padding-bottom: 0;
}
.navbar-default .navbar-nav > li.contact-btn a:hover, 
.navbar-default .navbar-nav > li.contact-btn a:focus{ 
	background-image: none; 
}
.navbar-default .navbar-nav > li.contact-btn:hover, 
.navbar-default .navbar-nav > li.contact-btn:focus{ 
	border-color:transparent; 
	background-color: #FFCC06;
}
.banner{
	background: #228799;
	background: -moz-linear-gradient(top, #228799 0%, #257D91 29%, #2B5C7A 64%, #304D6F 86%, #31456A 98%);
	background: -webkit-linear-gradient(top, #228799 0%, #257D91 29%, #2B5C7A 64%, #304D6F 86%, #31456A 98%);
	background: linear-gradient(to bottom, #228799 0%, #257D91 29%, #2B5C7A 64%, #304D6F 86%, #31456A 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228799', endColorstr='#31456a',GradientType=0 );
}
.banner_text{
	padding: 17% 0 14%;
	text-align: center;
	color: #FFFFFF;
}
.banner_text h2{
	text-transform: uppercase;
	line-height: 35px;
	font-weight: bold;
	margin-bottom: 15px;
}
.banner_text p{
	color: #07e8e0;
	font-size: 19px;
	line-height: 30px;
}
.banner > span.dot_img{
	display: block;
	position: relative;
	top: 100px;
	z-index: 99;
}
.banner > span img{
	width: 100%;
}
.banner ul{
	list-style: none;
	padding-left: 0;
	width: 90%;
	float: none;
	margin: 0 auto;
}
.banner li{
	width: auto;
	position: relative;
}
.banner li h3{
	color: #07e8e0;
	font-weight: bold;
}
.banner li p{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
}

.banner li:before{
	background-repeat: no-repeat;
	background-position: center;
	content: "";
	position: absolute;
	height: 200px;
	width: 85px;
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
}
.banner li.dot_1:before{
	background-image: url(../images/circle_one.png);
	left: 5.2%;
    	top: -78px;
}
.banner li.dot_2:before{
	background-image: url(../images/circle_two.png);
	left: 46%;
    	top: -95px;
}
.banner li.dot_3:before{
	background-image: url(../images/circle_two.png);
	left: auto;
	right: -3%;
	top: -130px;
}
.banner li span{
	position: absolute;
}
.banner li.dot_1 span{
	left: 10%;
	top: -100px;
}
.banner li.dot_2 span{
	left: 51%;
	top: -130px;
}
.banner li.dot_3 span{
	left: auto;
	right: 2%;
	top: -170px;
}


/* Circle dots fade and bounce effects */
.banner li{
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	opacity: 0;
}
.banner li.dot_1{
	-webkit-animation-delay: 0.8s;
    	-moz-animation-delay: 0.8s;
    	animation-delay: 0.8s;
}
.banner li.dot_2{
	-webkit-animation-delay: 2s;
    	-moz-animation-delay: 2s;
    	animation-delay: 2s;
}
.banner li.dot_3{
	-webkit-animation-delay: 3s;
    	-moz-animation-delay: 3s;
    	animation-delay: 3s;
}
@-webkit-keyframes fadeIn { 
	from { 
		opacity:0; 
	} 
	to { 
		opacity:1; 
	} 
}
@-moz-keyframes fadeIn { 
	from { 
		opacity:0; 
	} 
	to { 
		opacity:1; 
	} 
}
@keyframes fadeIn { 
	from { 
		opacity:0; 
	} 
	to { 
		opacity:1; 
	} 
}

.banner li:before{
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-name: bounce;
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	transform: translateY(6px);
	-webkit-transform: translateY(6px);
	-moz-transform: translateY(6px);
}
@-webkit-keyframes bounce {
	0% {
		opacity: 1;
		-webkit-transform: translateY(10px);
	}
	50% {
		opacity: 0.5;
		-webkit-transform: translateY(3px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(10px);
	}
}
@-moz-keyframes bounce {
	0% {
		opacity: 0.5;
		-moz-transform: translateY(10px);
	}
	50% {
		opacity: 1;
		-moz-transform: translateY(3px);
	}
	100% {
		opacity: 0.5;
		-moz-transform: translateY(10px);
	}
}
@keyframes bounce {
	0% {
		opacity: 0.5;
		transform: translateY(10px);
	}
	50% {
		opacity: 1;
		transform: translateY(3px);
	}
	100% {
		opacity: 0.5;
		transform: translateY(10px);
	}
}

/* Circle dots fade effects ends */

/* banner pulse animation */
.pulse{
	position: absolute;
	margin: auto;
	top: -32%;
	left: 0; 
	bottom: 0; 
	right: 0;
	z-index: 2;
	opacity: 0;
	border: 1px solid rgba(37,125,145,0.7);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.pulse1 {
	width: 230px;
	height: 230px;
	-webkit-animation: pulse1 3s linear infinite;
	-moz-animation: pulse1 3s linear infinite;
	animation: pulse1 3s linear infinite;
	-webkit-box-shadow: inset 0px 0px 15px 20px rgba(7,232,224,0.7);
	-moz-box-shadow: inset 0px 0px 15px 20px rgba(7,232,224,0.7);
	box-shadow: inset 0px 0px 15px 20px rgba(7,232,224,0.7);
}
.pulse2 {
	width: 280px;
	height: 280px;
	-webkit-animation: pulse2 3s linear infinite;
	-moz-animation: pulse2 3s linear infinite;
	animation: pulse2 3s linear infinite;
	-webkit-box-shadow: inset 0px 0px 15px 30px rgba(42,99,127,0.9);
	-moz-box-shadow: inset 0px 0px 15px 30px rgba(42,99,127,0.9);
	box-shadow: inset 0px 0px 15px 30px rgba(42,99,127,0.9);
}
.pulse3 {
	width: 330px;
	height: 330px;
	-webkit-animation: pulse3 3s linear infinite;
	-moz-animation: pulse3 3s linear infinite;
	animation: pulse3 3s linear infinite;
	-webkit-box-shadow: inset 0px 0px 15px 40px rgba(28,63,91,0.8);
	-moz-box-shadow: inset 0px 0px 15px 40px rgba(28,63,91,0.8);
	box-shadow: inset 0px 0px 15px 40px rgba(28,63,91,0.8);
}
.pulse4 {
	width: 380px;
	height: 380px;
	-webkit-animation: pulse4 3s linear infinite;
	-moz-animation: pulse4 3s linear infinite;
	animation: pulse4 3s linear infinite;
	-webkit-box-shadow: inset 0px 0px 15px 50px rgba(7,232,224,0.8);
	-moz-box-shadow: inset 0px 0px 15px 50px rgba(7,232,224,0.8);
	box-shadow: inset 0px 0px 15px 50px rgba(7,232,224,0.8);
}
@-webkit-keyframes pulse1 {
	0% {
		-webkit-transform: scale(.6);
		opacity: 0;
	}
	50% {
		-webkit-transform: scale(.8);
		opacity: 0;
	}
	80% {
		-webkit-transform: scale(1.2);
		opacity: .2;
	}
	100% {
		-webkit-transform: scale(1.4);
		opacity: 0;
	}
}
@-moz-keyframes pulse1 {
	0% {
		-moz-transform: scale(.6);
		opacity: 0;
	}
	50% {
		-moz-transform: scale(.8);
		opacity: 0;
	}
	80% {
		-moz-transform: scale(1.2);
		opacity: .2;
	}
	100% {
		-moz-transform: scale(1.4);
		opacity: 0;
	}
}
@keyframes pulse1 {
	0% {
		transform: scale(.6);
		opacity: 0;
	}
	50% {
		transform: scale(.8);
		opacity: 0;
	}
	80% {
		transform: scale(1.2);
		opacity: .1;
	}
	100% {
		transform: scale(1.4);
		opacity: 0;
	}
}
@-webkit-keyframes pulse2 {
	0% {
		-webkit-transform: scale(.6);
		opacity: 0;
	}
	50% {
		-webkit-transform: scale(.9);
		opacity: .1;
	}
	80% {
		-webkit-transform: scale(1.2);
		opacity: .1;
	}
	100% {
		-webkit-transform: scale(1.3);
		opacity: 0;
	}
}
@-moz-keyframes pulse2 {
	0% {
		-moz-transform: scale(.6);
		opacity: 0;
	}
	50% {
		-moz-transform: scale(.9);
		opacity: .1;
	}
	80% {
		-moz-transform: scale(1.2);
		opacity: .1;
	}
	100% {
		-moz-transform: scale(1.3);
		opacity: 0;
	}
}
@keyframes pulse2 {
	0% {
		transform: scale(.6);
		opacity: 0;
	}
	50% {
		transform: scale(.9);
		opacity: .1;
	}
	80% {
		transform: scale(1.2);
		opacity: .1;
	}
	100% {
		transform: scale(1.3);
		opacity: 0;
	}
}
@-webkit-keyframes pulse3 {
	0% {
		-webkit-transform: scale(.8);
		opacity: 0;
	}
	50% {
		-webkit-transform: scale(1);
		opacity: .1;
	}
	80% {
		-webkit-transform: scale(1.4);
		opacity: .1;
	}
	100% {
		-webkit-transform: scale(1.6);
		opacity: 0;
	}
}
@-moz-keyframes pulse3 {
	0% {
		-moz-transform: scale(.8);
		opacity: 0;
	}
	50% {
		-moz-transform: scale(1);
		opacity: .1;
	}
	80% {
		-moz-transform: scale(1.4);
		opacity: .1;
	}
	100% {
		-moz-transform: scale(1.6);
		opacity: 0;
	}
}
@keyframes pulse3 {
	0% {
		transform: scale(.8);
		opacity: 0;
	}
	50% {
		transform: scale(1);
		opacity: .1;
	}
	80% {
		transform: scale(1.4);
		opacity: .1;
	}
	100% {
		transform: scale(1.6);
		opacity: 0;
	}
}
@-webkit-keyframes pulse4 {
	0% {
		-webkit-transform: scale(.8);
		opacity: 0;
	}
	50% {
		-webkit-transform: scale(1.2);
		opacity: .1;
	}
	80% {
		-webkit-transform: scale(1.5);
		opacity: .1;
	}
	100% {
		-webkit-transform: scale(1.8);
		opacity: 0;
	}
}
@-moz-keyframes pulse4 {
	0% {
		-moz-transform: scale(.8);
		opacity: 0;
	}
	50% {
		-moz-transform: scale(1.2);
		opacity: .1;
	}
	80% {
		-moz-transform: scale(1.5);
		opacity: .1;
	}
	100% {
		-moz-transform: scale(1.8);
		opacity: 0;
	}
}
@keyframes pulse4 {
	0% {
		transform: scale(.8);
		opacity: 0;
	}
	50% {
		transform: scale(1.2);
		opacity: .1;
	}
	80% {
		transform: scale(1.5);
		opacity: .1;
	}
	100% {
		transform: scale(1.8);
		opacity: 0;
	}
}
/* banner pulse css ends */

/* About Page css*/
.about_crypto{
	background-color: #FFFFFF;
	padding: 8% 15px;
}
.left_about{
	padding-right: 6%;
}
.left_about h3{
	color: #1c3f5b;
	line-height: 34px;
}
.left_about p{
	color: #989899;
	font-size: 18px;
	line-height: 30px;
	margin-top: 20px;
}
.year{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 35%;
	position: relative;
}
.year h1{
	color: #07e8e0;
	font-size: 90px;
	font-weight: bold;
	animation-duration: 2.5s;
	-webkit-animation-duration: 2.5s;
	-moz-animation-duration: 2.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-name: zoomIn;
	-webkit-animation-name: zoomIn;
	-moz-animation-name: zoomIn;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

.year_cont{
	display: inline-block;
	vertical-align: middle;
	width: 64%;
}
.year_cont h4{
	color: #1c3f5b;
	/*font-weight: bold;*/
	line-height: 34px;
	font-size: 21px;
}
.year_cont p{
	color: #989899;
	font-size: 18px;
	line-height: 30px;
	margin-top: 20px;
}

/* Spin Animation on years */
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0.4;
		-webkit-transform: scale(1);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.3);
	}
	100% {
		opacity: 0.4;
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes zoomIn {
	0% {
		opacity: 0.4;
		-moz-transform: scale(1);
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1.3);
	}
	100% {
		opacity: 0.4;
		-moz-transform: scale(1);
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0.4;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.3);
	}
	100% {
		opacity: 0.4;
		transform: scale(1);
	}
}

.year span{
	position: absolute;
	margin: auto; 
	top: 0;
	left: 0; 
	bottom: 0; 
	right: 0;
	opacity: 0.28;
	border-radius: 50%;
	box-shadow: 0px 0px 30px 3px #07E8E0;
	-webkit-animation-duration: 2.5s;
	-moz-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
}
.scale1{
	height: 120px;
	width: 120px;
	z-index: 1;
	-webkit-animation-name: scale1;
	-moz-animation-name: scale1;
	animation-name: scale1;
}
.scale2{
	height: 180px;
	width: 180px;
	z-index: 2;
	-webkit-animation-name: scale2;
	-moz-animation-name: scale2;
	animation-name: scale2;
}
@-moz-keyframes scale1 {
	0%{
		opacity: 0.28;
		-moz-transform: scale(1.3);
	}
	50%{
		opacity: 0.4;
		-moz-transform: scale(1); 
	}
	100%{
		opacity: 0.28;
		-moz-transform: scale(1.3);
	}
}
@-webkit-keyframes scale1 {
	0%{
		opacity: 0.28;
		-webkit-transform: scale(1.3);
	}
	50%{
		opacity: 0.4;
		-webkit-transform: scale(1); 
	}
	100%{
		opacity: 0.28;
		-webkit-transform: scale(1.3);
	}
}
@keyframes scale1 {
	0%{
		opacity: 0.28;
		transform: scale(1.3);
	}
	50%{
		opacity: 0.4;
		transform: scale(1); 
	}
	100%{
		opacity: 0.28;
		transform: scale(1.3);
	}
}
@-moz-keyframes scale2 {
	0%{
		-moz-transform: scale(1);
	}
	50%{
		-moz-transform: scale(1.2); 
	}
	100%{
		-moz-transform: scale(1);
	}
}
@-webkit-keyframes scale2 {
	0%{
		-webkit-transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.2); 
	}
	100%{
		-webkit-transform: scale(1);
	}
}
@keyframes scale2 {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.2); 
	}
	100%{
		transform: scale(1);
	}
}
/* Spin Animation on years ends */

/* Why Global Team section */
.why_global{
	background: #DBEEFD;
	background: -moz-linear-gradient(top, #DBEEFD 45%, #EAF7FF 75%, #EFF8FF 100%);
	background: -webkit-linear-gradient(top, #DBEEFD 45%,#EAF7FF 75%,#EFF8FF 100%);
	background: linear-gradient(to bottom, #DBEEFD 45%,#EAF7FF 75%,#EFF8FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbeefd', endColorstr='#eff8ff',GradientType=0 );
	padding: 50px 15px;
	text-align: center;
}
.why_global h2{
	color: #1c3f5b;
	line-height: 35px;
}
.why_global p{
	color: #505252;
	font-size: 18px;
	line-height: 30px;
}
.why_global img.center-block{
	margin: 30px auto;
}
.why_global .container-sm [class*="col"]{
	padding: 20px;
	height: 480px;
}
.team_point{
	display: inline-block;
	padding: 25px;
	vertical-align: middle;
	border-radius: 4px;
	transition: all 0.7s ease-in-out 0s;
	-webkit-transition: all 0.7s ease-in-out 0s;
	-moz-transition: all 0.7s ease-in-out 0s;
	-ms-transition: all 0.7s ease-in-out 0s;
	text-align: left;
	height: 100%;
}
.team_point:hover{
	box-shadow: 0 6px 20px 0 #D1FDFB;
	background-color: #FFFFFF;
}
.team_point.center_point{
	box-shadow: 0 6px 20px 0 #D1FDFB;
	background-color: #FFFFFF;
	position: relative;
}

.team_point img{
	margin: 10px 0;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
}
.team_point:hover img{
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
    	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
}
.team_point h4{
	color: #1c3f5b;
	text-transform: uppercase;
	line-height: 28px;
	font-weight: bold;
}
.team_point p{
	color: #33788d;
	font-size: 16px;
	line-height: 28px;
}

/* resources page css */
/*.res-outr{
	background-color: #DBEEFD;
}*/


/* resource section animation  */
.res-outr .sec-main-hdng,
.res-outr .single-res{
	opacity: 0;
}
.res-outr.animate .sec-main-hdng{
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-delay: 0s;
    	-moz-animation-delay: 0s;
    	animation-delay: 0s;
}
.res-outr.animate .single-res{
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	animation-duration:2s;
	-webkit-animation-delay: 1s;
    	-moz-animation-delay: 1s;
    	animation-delay: 1s;
}
.res-outr.animate .single-res.blue-box{
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:3s;
	-moz-animation-duration:3s;
	animation-duration:3s;
	-webkit-animation-delay: 2s;
    	-moz-animation-delay: 2s;
    	animation-delay: 2s;
}
/* resource section animation ends */
.res-outr .sec-main-hdng{ 
	padding: 50px 15px;
	text-align: center;
}
.res-outr .sec-main-hdng h2{
	display: inline-block;
	color: #32446A;
}
.res-outr .sec-main-hdng span{
	font-size: 20px;
	color: #33788d;
	margin-top:10px;
	display: block;
}

.single-res{
	background-color: #233357;
	color: #FFFFFF;
	padding: 25px; 
	border-right:0; 
	min-height: 245px;
}
.single-res.blue-box{ 
	background: #07E8E0; 
} 
.single-res h4{
	font-weight: bold; 
}
.single-res p{
	font-size:16px;
	line-height: 30px;
}

/* team section css*/

.team-outr{
	padding: 6% 15px;
	float: left;
	width: 100%;
}
.team-outr h1{
	margin-bottom: 50px;
	line-height: 35px; 
	position: relative;
}
.team-outr  h1:before{ 
	content: ""; 
	border-top: 3px solid #2E3E62; 
	position: absolute; 
	top:-15px; 
	left: 0; 
	width: 60px;
}
.team-member{
	background-color: #f7f7f7; 
	box-shadow: 0px 0px 4px 0px rgba( 0, 0, 0 , 0.3);
	float: left;
	width: 100%;
}
.team-member span {
	width: 100%; 
	float: left; 
	height:260px; 
	padding-top: 0%; 
	text-align: center;
	background-color: #fff;
	overflow: hidden;
}
.team-member span{ 
	position: relative; 
}
.team-member .partner-img-cont span img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	transition: all 0.6s ease-in-out 0s;
}
.partner-img-cont img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.team-member .partner-img-cont span img:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	filter: grayscale(0);
}
.member-info{ 
	float: left;
	width: 100%; 
	padding: 14px; 
	position: relative;
	min-height: 110px;
	transition: all 0.9s ease-in-out 0s;
	-ms-transition: all 0.9s ease-in-out 0s;
	-moz-transition: all 0.9s ease-in-out 0s;
	-webkit-transition: all 0.9s ease-in-out 0s;
}
.linkedin{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	float: left;
	text-align: center;
	left: 0;
	top: 0;
	padding: 20px 10px;
	transition: all 0.9s ease-in-out 0s;
	-ms-transition: all 0.9s ease-in-out 0s;
	-moz-transition: all 0.9s ease-in-out 0s;
	-webkit-transition: all 0.9s ease-in-out 0s;
}
.member-info:hover .linkedin,
.member-info:focus .linkedin{
	background-color: #0097BD;
	visibility: visible;
	opacity: 1;
}
.member-info .linkedin span.fa{
	text-align: center;
	font-size: 18px;
	background-color: #FFFFFF;
	border-radius: 50%;
	height: 34px;
	width: 34px;
	color: #0097BD;
	padding-top: 6px;
	float: none;
}
.member-info h1{
	color:#2e3e62;
	font-size: 18px; 
	font-weight: bold; 
	text-transform: uppercase; 
	margin-top: 0; 
	margin-bottom:8px;
	line-height: normal;
}
.member-info span{
	color:#2e3e62; 
	font-size: 15px; 
	background-color: transparent; 
	height: auto; 
	text-align: left; 
	padding: 0; 
}
.member-info h1:before{ 
	border: 0;
}

/* partner & newsletter section css */
.partner-outr{
	float: left;
	width: 100%; 
	background-image: url(../images/partners-bg.png); 
	background-position: top center; 
	background-size: cover; 
	background-repeat: no-repeat; 
	padding: 6% 15px 14%;
	text-align: left;
	color: #FFFFFF;
}
.partner-outr form{
	margin-top: 20px;
}
.partner-outr .form-control { 
	border: 1px solid #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	height: 100%; 
	font-size: 16px;
}
.partner-outr .form-control:hover,
.partner-outr .form-control :focus{
	box-shadow: 0 none;
}
.partner-outr .form-group{
	padding-left: 0;
	margin-bottom: 0;
	height: 50px;
}
.partner-outr .form-control::-moz-placeholder{
	color: #FFFFFF;
	font-size: 16px;
}
.partner-outr .btn {
	background-color: #2e3e62;
	border: 0 none; 
	border-radius: 4px; 
	color: #ffffff; 
	font-size: 15px; 
	font-weight: bold; 
	padding: 7px 20px;
	text-transform: uppercase;
}

/* news section css */
.news-outr{
	padding: 6% 15px;
	float: left;
	width: 100%;
}
.news-outr h1{ 
	text-transform: uppercase;
	position: relative; 
	padding-left: 0; 
	margin-top: 0; 
	margin-bottom: 50px;
}
.news-outr h1:before{ 
	content: ""; 
	border-top: 3px solid #2E3E62; 
	position: absolute; 
	bottom:-15px; 
	left:0%; 
	width:60px;
}
.news-outr .news-left-cnt a{
	color: #ffcd06;
	font-size: 18px; 
	font-weight: bold; 
	float: right;
}
.news-outr p {
	color: #55668d; 
	font-size: 18px; 
	line-height: 30px;
	float: right;
	width: 100%;
}
.news-outr .fff {
	background: #ffffff none repeat scroll 0 0; 
	box-shadow:0 0 9px #cccccc; 
	float: left; 
	width: 100%; 
	min-height: 496px;
}
.news-outr ul.thumbnails { 
	margin-bottom: 0px; 
}
.news-outr ul li{ 
	list-style: none; 
}
.news-outr .thumbnail {
	display: inline-block; 
	width: 100%; 
	border:0; 
	border-radius: 0; 
	padding: 0; 
	position: relative; 
	margin-bottom: 0;
}
.news-outr .carousel-inner{ 
	height: 500px;
}
::selection { 
	background: #2E3E62; 
	color: #FFFFFF; 
	text-shadow: 0; 
}
::-moz-selection { 
	background: #2E3E62; 
	color: #FFFFFF; 
}
.thumb-overlay{
	background-color: rgba(46, 62, 98, 0.5); 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.news-outr .caption{ 
	float: left;
	width: 100%; 
	padding:15px 25px; 
}
.news-outr .caption h4{ 
	color: #2e3e62; 
	font-size:16px; 
	font-weight: bold;
}
.news-outr .caption  p {
	color: #7e7f7f; 
	font-size: 15px; 
	line-height: 30px; 
}
.news-outr .caption a{
	color: #ffcd06;
	font-size:15px; 
	font-weight: bold;
}
.control-box {
	text-align: right; 
	width: 100%; 
} 
.carousel-control{
	background: #666; 
	border: 0px; 
	border-radius: 0px; 
	display: inline-block; 
	font-size: 34px; 
	font-weight: 200; 
	line-height: 18px; 
	opacity: 0.5; 
	padding: 4px 10px 0px; 
	position: static; 
	height: 30px; 
	width: 15px; 
} 
.news-left-cnt{ 
	padding-left: 35px; 
}
.news-left-cnt nav {
	float: left;
}
.news-left-cnt .control-box a {
	border-radius: 50px;
	height: 50px;
	line-height: 39px;
	text-align: center;
	width: 50px;
	border-color: #2E3E62;
	color: #2E3E62;
	float: left;
}
.news-left-cnt .pager li a:hover, 
.pager li a:focus{
	background-color: #2E3E62;
	color: #fff;
}
.news-left-cnt .pager li a.next{ 
	margin-left:50px; 
}
.roadmap.homeroadmap{
	width: 100%;
	float: left;
}
.homeroadmap .projectroadmap{
	padding: 0 0 10%;
	margin-bottom: 40px;
}
.homeroadmap .roadmapstartend{
	margin-top: 140px;
}

/* Storage section css */
.storage_files{
	float: left;
	padding: 4% 15px;
	text-align: center;
	width: 100%;
}
.storage_files h3{
	color: #32446a;
	display: inline-block;
	line-height: 36px;
	width: 700px;
	max-width: 100%;
}
.storage_files ul{
	list-style: none;
	padding-left: 0;
	margin: 20px auto;
}
.storage_files ul li{
	display: inline-block;
	padding: 20px 5%;
	vertical-align: top;
	width: 33%;
}
.storage_files span{
	border-radius: 4px;
	box-shadow: 0 0 15px 3px #ddd;
	display: inline-block;
	margin-bottom: 20px;
}
.storage_files h4{
	color: #000;
	line-height: 30px;
	margin-bottom: 15px;
}
.storage_files p{
	color: #656363;
	font-size: 16px;
	line-height: 30px;
}

/* Questions section */
.ques_sec{
	/*background-image: url(../images/question.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 15px;
	text-align: center;*/
	float: left;
	width: 100%;
	position: relative;
}
.ques_sec > img{
	width: 100%;
}
.ques_sec h3{
	color: #FFFFFF;
	font-weight: bold;
	line-height: 36px;
	margin-bottom: 15px;
}
.ques_sec p{
	color: #FFFFFF;
	font-size: 16px;
	line-height: 30px;
	display: inline-block;
	width: 900px;
	max-width: 100%;
}
.ques_sec .row{
	margin-top: 30px;
}
.ques_left{
	display: inline-block;
	vertical-align: middle;
	width: 30%;
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	opacity: 0;
}
.ques_left.left_anim,
.ques_ryt ul li.ryt_anim{
	opacity: 0;
	animation: 2s ease 0s normal forwards 1 running slide;
}
.ques_left.left_anim{
	animation-delay: 0.3s;
	transform: translateX(-100%);
}
.ques_ryt ul li.ryt_anim{
	transform: translateX(100%);
}
.ques_ryt ul li.ryt_anim:first-child{
	animation-delay: 1s;
}
.ques_ryt ul li.ryt_anim:nth-child(2){
	animation-delay: 2s;
}
.ques_ryt ul li.ryt_anim:last-child{
	animation-delay: 3s;
}
.ques_ryt{
	display: inline-block;
	padding: 0 15px 0 6%;
	vertical-align: middle;
	width: 69%;
}
.ques_ryt ul{
	list-style: none;
	padding-left: 0;
}
.ques_ryt ul li{
	background-color: transparent;
	padding: 20px;
	text-align: left;
	color: #FFFFFF;
	margin-bottom: 7px;
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	opacity: 0;
}
.ques_ryt ul li:nth-child(2){
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 1px 2px 6px 0 #333;
}
.ques_ryt ul li:nth-child(2) p{
	color: #32446a;
}
.ques_ryt h4{
	color: #ffcd06;
	line-height: 32px;
}
.ques_ryt p{
	width: 100%;
}

@keyframes slide {
	0% {
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes slide {
	25% {
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes slide {
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

/* Whitepaper Section */
.home-whitepaper{
	width: 100%;
	float: left;
	background-color: #EFF8FF;
	margin-bottom: 8px;
	box-shadow: 0 4px 10px 0px #dddddd;
}
.whiteppr_left{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 59.6%;
	padding: 0 10%;
}
.whiteppr_left h3{
	color: #32446a;
	line-height: 30px;
	margin-bottom: 20px;
}
.whiteppr_left p{
	color: #393939;
	line-height: 32px;
	font-size: 16px;
	margin-bottom: 15px;
}
.whiteppr_left .btn{
	background-color: #FECD06;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 15px;
	padding: 10px 22px;
	border: 0 none;
}
.whiteppr_left .btn:hover,
.whiteppr_left .btn:focus{
	outline: none;
}
.whiteppr_ryt{
	background: #FFFFFF;
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	padding: 30px 0;
}
.whiteppr_ryt img{
	border-radius: 5px;
	box-shadow: 0 0 10px 4px #ddd;
	padding: 10px;
}

/* contact section css */
.sucess_msg,
.error_msg{
	border-radius: 4px;
	color: #FFFFFF;
	position: absolute;
	width: 100%;
	z-index: 999;
	display: none;
	left: 0;
	text-align: center;
}
.error_msg h4{
	color: #F66358;
	margin: 5px auto;
}
.sucess_msg h4{
	color: #6ABC6D;
	margin: 5px auto;
}
.contact-outr{
	padding: 70px 15px;
	float: left;
	width: 100%; 
	position: relative;
	background-color: #EFF8FF;
}
.form-area { 
	float: none;
	margin: 0 auto; 
	width:70%;
}
.form-contact {
	background-color: #fff; 
	box-shadow: 0 0 20px 5px #DFF2F9;
	color: #555; 
	padding:50px; 
	position: relative; 
	border-radius: 5px;
}
.form-contact .form-control {
	-moz-border-bottom-colors: none; 
	-moz-border-left-colors: none; 
	-moz-border-right-colors: none; 
	-moz-border-top-colors: none; 
	border-color: currentcolor currentcolor #dedede; 
	border-image: none; 
	border-style: none none solid; 
	border-width: medium medium 1px; 
	box-shadow: none; 
	border-radius: 0; 
	font-size: 15px; 
	padding: 6px 2px; 
}
.form-contact .form-group {
	margin: 15px auto;
}
.form-contact .main-heading {
	font-size: 18px; 
	font-weight: bold; 
	letter-spacing: 1px; 
} 
.form-contact .sub-heading {
	color: #999; 
	font-size: 16px; 
	margin: 10px auto; 
}
form.contact-form {
	display: inline-block; 
	width: 100%; 
	margin-top: 35px;
}
form.contact-form .form-control:focus{
	-moz-border-bottom-colors: none; 
	-moz-border-left-colors: none; 
	-moz-border-right-colors: none; 
	-moz-border-top-colors: none; 
	border-color: currentcolor currentcolor #3c9ad8; 
	border-image: none; 
	border-style: none none solid; 
	border-width: medium medium 1px; 
	box-shadow: none;
}
.form-group.txt-area {
	height: auto;
}
.form-group.txt-area textarea{
	resize: none; 
	height: 120px;
}
.form-group.focused.txt-area .control-label{
	margin-top: -15px;
}


/* --- material floating label --- */

.form-group {
	display: flex; 
	height: 55px; 
}
.control-label {
	font-size: 16px; 
	font-weight: 400; 
	opacity: 0.4; 
	pointer-events: none; 
	position: absolute; 
	transform: translate3d(0, 22px, 0) scale(1); 
	transform-origin: left top; 
	transition: 240ms; 
}
.form-group.focused .control-label {
	opacity: 1; 
	transform: scale(0.80); 
	font-size: 20px;
	color: #0EA2A6;
}
.form-control {
	align-self: flex-end; 
	color: #2E3E62;
}
.form-control::-webkit-input-placeholder {
	color: transparent;
	transition: 240ms;
}
.form-control:focus::-webkit-input-placeholder {
	transition: none;
}
.form-group.focused .form-control::-webkit-input-placeholder {
	color: #bbb;
}
.form-contact .sec-main-blue-heading {
	text-align: left; 
	text-transform: uppercase; 
	position: relative;
}
.form-contact  h1:before{ 
	content: ""; 
	border-top: 3px solid #2E3E62; 
	position: absolute; 
	top:-15px; 
	left:0%; 
	width:60px;
}
.form-contact .sec-main-blue-sub-heading {
	text-align: left; 
}
.form-contact .blue-btn{ 
	float: left; 
	width: 100%; 
	text-align: center;
	margin-top: 25px;
}
.form-contact .blue-btn:hover{
	color:#fff;
}
.name-field{ 
	padding-left: 0;
}
.email-field{ 
	padding-right: 0;
}
.plane-img {
	left: -27px; 
	position: absolute; 
	top: -30px; 
}

/* footer css */

.footer-outr{
	float: left; 
	width: 100%; 
	/*margin-top:-20%; */
	padding: 60px 40px 0;
	background: -moz-linear-gradient(340deg, #2d3d61 0%, #0ea1a6 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2d3d61), color-stop(100%, #0ea1a6));
	background: -webkit-linear-gradient(340deg, #2d3d61 0%, #0ea1a6 100%);
	background: -o-linear-gradient(340deg, #2d3d61 0%, #0ea1a6 100%);
	background: -ms-linear-gradient(340deg, #2d3d61 0%, #0ea1a6 100%);
	background: linear-gradient(110deg, #2d3d61 0%, #0ea1a6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3d61', endColorstr='#0ea1a6',GradientType=1 ); /* ie6-9 */}
.footer-inr{
	float: none;
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
}
.footer-cont{
	float: left;
	width: 100%; 
	color: #fff;
}
.footer-cont h5{ 
	color: #fff; 
	font-size:16px; 
	font-weight: bold;
	margin-bottom: 25px;
}
.footer-cont ul{ 
	margin: 0; 
	padding: 0;
}
.footer-cont ul li{
	list-style: none;
	line-height: 30px;
}
.footer-cont ul li a{ 
	color: #fff; 
	font-size: 15px; 
	opacity: 0.6;
}
.footer-cont ul li a:hover{ 
	opacity: 1;
}
.footer-log-text{ 
	margin-right: 100px; 
}
.footer-log-text p {
	font-size: 16px; 
	line-height: 25px; 
	margin-top: 8px; 
}
.footer-social-links a{ 
	border: 1px solid #ffffff;
	border-radius: 50px; 
	color: #ffffff; 
	display: inline-block; 
	font-size: 20px; 
	height: 40px; 
	line-height: 25px; 
	margin-right: 10px; 
	padding: 7px; 
	text-align: center; 
	width: 40px; 
}
.footer-social-links a:last-child {
	padding-left: 11px;
}
.copyright {
	border-top: 1px solid #ffffff; 
	margin-bottom: 0; 
	margin-top: 30px; 
	padding-bottom: 15px; 
	padding-top: 15px; 
	text-align: center; 
}
.disclosure{
	margin-top: 25px;
	margin-bottom: 0;
	text-align: left;
}
.disclosure h4{
	color: #FFFFFF;
	line-height: 30px;
}


/* slider animation css */

.blink-circle-one {
	position: absolute;
	top: 18%; 
	left: 26%;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: blinker;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	animation-name: blinker;
	animation-duration:2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.blink-circle-one:nth-child(2) {
	right: 32%;
    	top: 15%;
	left: auto;
}
.blink-circle-one:nth-child(3) {
	left: 46%;
	right: 50%;
	top: 46%;
}
.blink-circle-one:nth-child(4) {
	bottom: 20%;
	left: 36%;
	top: auto;
}
.blink-circle-one:nth-child(5) {
	bottom: 50%;
	left: auto;
	right: 37%;
	top: auto;
}
.blink-circle-one:nth-child(6) {
	bottom: 12%;
	left: auto;
	right: 26%;
	top: auto;
}
.blink-circle-one:nth-child(7) {
	left: auto;
	right: 45%;
    	top: 22%;
}
.blink-circle-one:nth-child(8) {
	bottom: 20%;
	left: 51%;
	top: auto;
}
.blink-circle-one:nth-child(9) {
	left: 30%;
	top: 38%;
	-webkit-animation-delay: 1s;
	animation-delay:1s;
}
.blink-circle-one:nth-child(10) {
	bottom: 6%;
	left: 34%;
	top: auto;
	-webkit-animation-delay: 1s;
	animation-delay:1s;
}
.blink-circle-one:nth-child(11) {
	bottom:6%;
	left: auto;
    	right: 40%;
	-webkit-animation-delay: 1s;
	animation-delay:1s;
}
.blink-circle-one:nth-child(12) {
	left:41%;
	top:10%;
	-webkit-animation-delay: 1s;
	animation-delay:1s;
}
.blink-circle-one:nth-child(13) {
	left: 59%;
	top: 30%;
	-webkit-animation-delay: 1s;
	animation-delay:1s;
}
.blink-circle-one:nth-child(14) {
	bottom: auto;
	left: auto;
	right: 36%;
	top: 34%;
	-webkit-animation-delay: 1s;
	animation-delay:1s;
}
.blink-circle-one:nth-child(15) {
	bottom: 40%;
	left: 53%;
	top: auto;
	-webkit-animation-delay: 1s;
	animation-delay:1s;
}
.blink-circle-one:nth-child(16) {
	bottom: 12%;
	left: auto;
	right: 31%;
	top: auto;
	-webkit-animation-delay: 1s;
	animation-delay:1s;
}
@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

/* carousel css */

@media (max-width: 767px) {
	.item.active > .test_item { display:none; }
	.item.active > .test_item:first-child { display:block; }	
}
@media all and (min-width: 768px) {
	#myCarousel .carousel-inner > .active {
		left: 0;
	}
	#myCarousel .carousel-inner .cloneditem-1 {
		display: block;
	}
}
@media all and (min-width: 992px) {
	#myCarousel .carousel-inner > .active.left,
	#myCarousel .carousel-inner > .prev {
		left: -33.3333%;
	}
	#myCarousel .carousel-inner > .active.right,
	#myCarousel .carousel-inner > .next {
		left: 33.3333%;
	}
	#myCarousel .carousel-inner > .left,
	#myCarousel .carousel-inner > .prev.right,
	#myCarousel .carousel-inner > .active {
		left: 0;
	}
	#myCarousel .carousel-inner .cloneditem-2,
	#myCarousel .carousel-inner .cloneditem-3 {
		display: block;
	}
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
	#myCarousel .carousel-inner > .item.active.right,
	#myCarousel .carousel-inner > .item.next {
		-webkit-transform: translate3d(50%, 0, 0);
		transform: translate3d(50%, 0, 0);
		left: 0;
	}
	#myCarousel .carousel-inner > .item.active.left,
	#myCarousel .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
		left: 0;
	}
	#myCarousel .carousel-inner > .item.left,
	#myCarousel .carousel-inner > .item.prev.right,
	#myCarousel .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}

/* carousel css ends */


.team_group{
	width: 100%;
	float: left;
	position: relative;
}
.team_group img{
	width: 100%;
}
.grp_overlay{
	background-color: rgba(34,133,152,0.3);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.team_text{
	float: left;
	padding-top: 80px;
	text-align: center;
	width: 100%;
}
.team_text h4 i.fa{
	font-size: 14px;
	color: #000;
	position: relative;
	top: -9px;
}
.team_text h4 i.fa-quote-left{
	left: -2px;
}
.team_text h4 i.fa-quote-right{
	right: -2px;
}
.team_text h4{
	line-height: 36px;
	font-size: 22px;
}
.team_sec{
	background-color: #FFFFFF;
	padding: 80px 15px;
	float: left;
	width: 100%;
}
.team_sec ul{
	list-style: none;
	padding-left: 0;
	margin: 0 auto;
	float: none;
	width: 100%;
}
li.team_list{
	display: inline-block;
	padding: 15px;
	vertical-align: middle;
	width: 24.333%;
}
.team_sec .team-member img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	transition: all 0.6s ease-in-out 0s;
}
.team_sec .team-member:hover img,
.team_sec .team-member:focus img{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	filter: grayscale(0);
}
.footer-outr.team_footer{
	margin-top: 0;
	padding-top: 80px;
}
.team_coll{
	padding: 15px 0;
}
.team_coll h3{
	color: #2e3e62;
	text-transform: capitalize;
	padding: 15px 15px 2px;
	display: inline-block;
	position: relative;
}
.team_coll h3:before{
	border-bottom: 2px solid #2e3e62;
	bottom: -3px;
	content: "";
	position: absolute;
	height: 2px;
	width: 100px;
}
.team_div{
	padding: 0;
	margin: 10px 0;
}
.team_coll h4{
	color: #376B83;
	padding: 0 15px;
	display: inline-block;
}


/***** presale starts from here*************/

.presale .register{
	float: right;
}
.presale .register:hover,
.presale .register:focus{
	color: #FFFFFF;
}
.gexclogo{        padding-top: 150px;    padding-bottom: 150px;    display: inline-block; width: 100%; }

.presale{background: url(../images/bgsale.png) no-repeat; background-position: top center; width: 100%; float: left;}
.gexclogo h1{ text-align: center; display: inline-block; width: 100%; margin-bottom: 42px;}
.gexclogo ul{display: inline-block;  width: 100%; text-align: center; padding-left: 0; margin-bottom: 30px; }
.gexclogo ul li{display: inline-block; width: auto;}
.gexclogo ul li a{display: inline-block; width: auto; color: #32446a; font-size: 15px;}
.gexclogo h3{     text-align: center;    display: inline-block;    width: 100%;    margin: 0 0 11px;    font-weight: bold;}
.faviconcenter{text-align: center; display: inline-block;  width: 100%; margin-top: 30px}

/***** timer COunter Starts from here*************/
#countdown {
	color: #FFFFFF;
}

.counterstart span {
	color: #E5E5E5;
	font-size: 26px;
	font-weight: normal;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}
.counterstart{     width: 71%;    text-align: center;       margin: 62px auto;}
.counterstart span{ color: #ffcd06; font-size: 60px; font-weight: bold; display: inline-block; width: 15%;}
.counterstart span label{margin-bottom: 0;}
.counterstart span b{ border-top: 4px solid #32446a; display: inline-block; font-size: 15px; text-transform: uppercase;  width: 100%; color: #afafb0; padding-top: 23px; }

/***** timer COunter Ends from here*************/


/***** presale Ends from here*************/

/***** Roadmap Starts from here*************/
.projectroadmap{ padding-top: 90px; padding-bottom: 250px; display: inline-block; width: 100%; }
.projectroadmap h3{text-align: center; display: inline-block; width: 100%; color: #32446a; margin-bottom: 15px; font-size: 29px; }
.projectroadmap p{text-align: center; display: inline-block; width: 100%; color: #ababab;}
.roadmapstartend{ display: inline-block;width: 100%; margin-top: 170px; text-align:center; }
span.start{  display: inline-block; width: 100px; border: 2px solid #ccc;    height: 100px;    border-radius: 69px;    line-height: 104px;
	color: #8d8d8d;    font-size: 22px;    position: relative;    left: 5px; top: -4px; }
span.end{ 
	display: inline-block;
	width: 116px;
	border: 2px solid #ccc;
	height: 115px;
	border-radius: 69px;
	line-height: 19px;
	color: #8d8d8d;
	font-size: 14px;
	position: relative;
	right: 5px;
	top: 12px;
	padding: 11px 13px;
}    
.roadmapstartend ul{ display: inline-block;    width: 80%;    border-top: 2px solid #ccc; padding: 0; }
.roadmapstartend ul li {     display: inline-block;    width:8%; text-align: center; position: relative;}
.contentroadmap span{ color: #32446a; font-weight: bold; display: inline-block; width: 100%; }
.contentroadmap label{ color: #9faaac; display: inline-block; width: 100%;  }
.contentroadmap{     width: 100%;    text-align: center; display: inline-block; }

.contntrd1{ position: absolute;   top: -117px;    left: 0;	}
.contntrd2{ position: absolute;    bottom: -65px;    left: 0;}
.contntrd3{ position: absolute;   top: -117px;    left: 0;	}
.contntrd4{ position: absolute;    bottom: -65px;    left: 0;	}
.contntrd5{ position: absolute;   top: -117px;    left: 0;	}
.contntrd6{ position: absolute;    bottom: -65px;    left: 0;}
.contntrd7{ position: absolute;   top: -135px;    left: 0;	}
.contntrd8{ position: absolute;   bottom: -65px;    left: 0;	}
.contntrd9{ position: absolute;   top: -117px;    left: 0;	}
.contntrd10{ position: absolute;   bottom: -65px;    left: 0;	}
.contntrd11{ position: absolute;   top: -117px;    left: 0;	}
.contntrd12{ position: absolute;   bottom: -65px;    left: 0;	}

.bubblebotom {  
	border: 3px solid #a4abac;  padding: 3px 3px;  height: 26px; width: 26px; border-radius: 30px;    position: absolute;
	content: '';   left: 0;   background: #fff;    right: 0;    margin: 0 auto; top: -31px; 
}
.bubblebotom span
{      background: #fecd06;    height: 14px;    border-radius: 30px;    display: block;    width: 14px;}
.roadmapstartend ul li.scnd_lim{		}
.roadmapstartend ul li.scnd_lim .bubblebotom span{ background: #32446a;} 
.roadmapstartend ul li.thrd_lim{		}
.roadmapstartend ul li.frth_lim .bubblebotom span{ background: #32446a;}
.roadmapstartend ul li.ffth_lim{		}
.roadmapstartend ul li.sxth_lim .bubblebotom span{ background: #32446a;}
.roadmapstartend ul li.svth_lim{		}
.roadmapstartend ul li.eight_lim .bubblebotom span{ background: #32446a;}
.roadmapstartend ul li.nine_lim{		}
.roadmapstartend ul li.ten_lim .bubblebotom span{ background: #32446a;}
.roadmapstartend ul li.elev_lim{		}
.roadmapstartend ul li.twe_lim .bubblebotom span{ background: #32446a;}
			

/***** Roadmap Ends from here*************/

/***** mission Starts from here*************/

.mission{ padding-top: 160px;    padding-bottom: 340px;    display: inline-block;    width: 100%; text-align: center;}
.mission h1{margin-bottom: 26px; color: #32446a; }
.mission p{ font-size:18px; line-height:30px;}
/***** whitepaper Ends from here*************/

.faq{
	padding: 8% 15px;
	text-align: center;
	float: left;
	width: 100%;
}
.faq h3{
	color: #2e3e62;
	line-height: 30px;
}
.faq p{
	color: #C2C2C2;
	font-size: 16px;
}
.faq p a{
	color: #2e3e62;
}
.faq .panel-group{
	margin-top: 40px;
	text-align: left;
}

.faq .panel{
	border-width: 0 0 1px;
	border-style: solid;
	border-color: transparent transparent #ddd;
	border-radius: 0;
	padding: 16px 0;
	margin-top: 0;
}
.faq .panel + .panel{
	padding: 16px 0;
	margin-top: 0;
}
.faq .panel-default > .panel-heading{
	border: 0 none;
	background-color: transparent;
}
.faq .panel-heading .accordion-toggle{
	padding-left: 25px;
	color: #34466C;
	position: relative;
	display: inline-block;
	vertical-align: top;
	line-height: 28px;
	font-weight: bold;
}
.faq .panel-heading .accordion-toggle.collapsed{
	color: #000000;
}
.faq .panel-heading .accordion-toggle:focus,
.faq .panel-heading .accordion-toggle:hover{
	text-decoration: none;
	outline: none;
}
.faq .panel-default > .panel-heading + .panel-collapse > .panel-body{
	padding: 10px 15px 10px 42px;
	border: 1px solid transparent;
	font-size: 16px;
	line-height: 27px;
	color: #A0A0A2;
}
.faq .panel-heading .accordion-toggle:after {
	font-family: 'Glyphicons Halflings';
	content: "\2212"; 
	float: left;
	color: #34466C;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 10px;
}
.faq .panel-heading .accordion-toggle.collapsed:after {
	content: "\002b";
}
.counter_sec{
	width: 100%;
	float: left;
	padding-top: 30px;
	color: #FFFFFF;
}
h2.counter{
	margin-top: 0;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	font-size: 34px;
}
.counter_sec p{
	font-size: 17px;
	display: inline-block;
	vertical-align: middle;
	padding: 0 6px;
}


/* responsive css */

@media (max-width: 1700px){
	.banner li.dot_1::before{
		left: 4.8%;
		top: -88px;
	}
	.banner li.dot_2::before {
    		left: 45.7%;
    		top: -104px;
	}
	.banner li.dot_3::before{
		top: -136px;
	}
}
@media screen and (max-width: 1600px) {
	.partner-outr{ 
		background-image: none; 
		background-color: #2E3E62;
		padding:4% 0; 
	}
	.contntrd2{ 
		bottom: -95px; 
	}
	.contntrd6, .contntrd8{ 
		bottom: -80px; 
	}
	.contntrd9{ 
		top: -135px; 
	}
}
@media (max-width: 1500px){
	.banner li.dot_1::before {
		left: 4.5%;
		top: -100px;
	}
	.banner li.dot_2::before {
		left: 45.4%;
		top: -115px;
	}
	.banner li.dot_3::before {
		top: -145px;
	}
}
@media (max-width: 1440px){
	.about_crypto{
		padding-top: 12%;
	}
	.year_cont{
		padding-left: 20px;
	}
	.left_about{
		padding-right: 4%;
	}
}
@media (min-width: 1400px){
	.presale .container-sm{
		max-width: 1600px;
		padding: 10px 30px 0 0;
	}
}
@media screen and (max-width: 1366px) {
	.team_text{
		padding-top: 60px;
	}
	.team_sec{
		padding: 20px 15px;
	}
	.banner li.dot_1::before {
    		left: 4.2%;
	}
	.banner li.dot_2::before {
    		left: 45%;
	}
	.banner li.dot_3::before {
    		top: -142px;
    		right: -3.7%;
	}
	.scale1 {
		height: 100px;
		width: 100px;
	}
	.scale2 {
    		height: 150px;
    		width: 150px;
    	}
    	.year h1{
    		font-size: 75px;
    		display: inline-block;
    	}
	.left_about h3{
		font-size: 22px;
	}
	.left_about p,
	.year_cont p,
	.why_global p,
	.disclosure h4{
		font-size: 15px;
		line-height: 27px;
	}
	.why_global .container-sm [class*="col"] {
    		height: 500px;
    	}
    	.team_point p{
    		font-size: 15px;
    		line-height: 26px;
    	}
	.presale .container-sm{
		padding: 10px 0 0;
	}
	.contntrd7{
		top: -152px;
	}
	.roadmapstartend ul li{
		width: 7%;
	}
	.form-contact .form-group {
    		margin: 8px auto;
	}
	form.contact-form{
		margin-top: 30px;
	}
	.form-contact{
		padding: 25px 50px;
	}
	.slider-text{
		padding-bottom: 20%;
		padding-top: 3%;
	}
	.res-outr{ margin-top: 2%; }
	.contntrd2{	position: absolute;    bottom: -110px;    left: 0;}
	.contntrd4{	position: absolute;    bottom: -110px;    left: 0;	}
	.contntrd6{	position: absolute;    bottom: -110px;    left: 0;}
	.contntrd8{ position: absolute;   bottom: -110px;    left: 0;	}
	.contntrd10{ position: absolute;   bottom: -110px;    left: 0;	}
	.contntrd12{ position: absolute;   bottom: -110px;    left: 0;	}
}
@media screen and (max-width: 1365px) {
	.contntrd7 {
    		top: -136px;
	}
	.roadmapstartend ul{ width: 100%}
	span.start, span.end{ display: none}
}

@media (max-width: 1130px) and (min-width: 1025px){
	.contntrd7{
		top: -155px;
	}
}
@media screen and (max-width: 1200px) {
	.ques_left,
	.ques_ryt ul li{
		opacity: 1;
	}
	.banner li.dot_1::before {
    		left: 4%;
    		top: -110px;
	}
	.banner li.dot_2::before {
    		left: 44.5%;
    		top: -125px;
	}
	.banner li.dot_3::before {
    		right: -4%;
    		top: -150px;
	}
	.banner > span.dot_img{
		top: 55px;
	}
	.banner_text{
		padding-top: 20%;
	}
	.member-info{
		min-height: auto;
	}
	.outr_mmb {
    		padding: 20px 9%;
	}
	li.team_list{
		width: 32.333%;
	}
	.second-row .single-res{ height: auto; min-height: auto }
	.news-left-cnt {padding-left:15px;margin-bottom: 30px;}
	.footer-log-text{ margin-right: 0 }
	.news-outr ul.thumbnails{ padding: 0 }
	.news-outr ul li{ padding-left: 0 }
}
@media screen and (max-width: 1100px) {
	.roadmapstartend ul li{ width: 7%}
}
@media screen and (max-width: 1024px) {
	.whiteppr_left{
		padding: 10px 5%;
	}
	.homeroadmap .roadmapstartend{ 
		margin-top: 0; 
	}
	.homeroadmap .projectroadmap {
		margin-bottom: 0;
		padding: 0;
	}
	.roadmapstartend ul li{ 
		float: left; 
		width:100%; 
		text-align: center; 
		margin-bottom: 15px;
	}
	.roadmapstartend ul{ 
		border-bottom:0;
	}
	.banner li.dot_1::before{
		left: 3%;
	}
	.banner li.dot_2::before{
		left: 44%;
	}
	.banner li.dot_3::before{
		top: -156px;
	}
}
@media (max-width: 992px){
	.blink-circle-one:nth-child(5){
		right: 36%;
	}
	.news-outr .fff{
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.whiteppr_left{
		padding: 10px 2%;
		width: 59%;
	}
	.whiteppr_left .btn{
		margin-bottom: 15px;
	}
	.whiteppr_left p{
		line-height: 26px;
		font-size: 15px;
	}
	.why_global h2{
		font-size: 25px;
	}
	.team_point img{
		margin: 10px auto;
	}
	.why_global .container-sm [class*="col"]{
		height: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.team_point{
		text-align: center;
	}
	.left_about{
		padding: 10px;
		text-align: center;
	}
	.banner li.dot_1::before{
		top: -120px;
	}
	.banner li.dot_2::before{
		top: -138px;
	}
	.banner li.dot_3::before {
    		right: -5%;
    	}
	.banner_text {
    		padding-top: 23%;
    		padding-bottom: 20%;
	}
	.banner_text h2{
		font-size: 25px;
	}
	.header .container-sm{
		width: 100%;
	}
	.navbar-nav > li {
    		padding: 10px;
	}
	.header .navbar-collapse{
		padding-right: 0;
		padding-left: 0;
	}
	.outr_mmb {
    		padding: 20px 4%;
	}
	li.team_list{
		width: 49.66%;
	}
	.team_coll h3,
	.team_coll h4{
		text-align: center;
		display: block;
	}
}
@media screen and (max-width: 990px) {
	.single-res{ 
		min-height: auto;
	}
	.form-area{ 
		width: 100%;
	}
	.news-outr .carousel-inner {
		height:auto;
	}
	.footer-cont h5{ 
		margin-bottom: 5px;
		margin-top: 35px;
	}
}
@media (max-width: 767px) {
	.blink-circle-one:first-child,
	.blink-circle-one:nth-child(2),
	.blink-circle-one:nth-child(3),
	.blink-circle-one:nth-child(4),
	.blink-circle-one:nth-child(5),
	.blink-circle-one:nth-child(6),
	.blink-circle-one:nth-child(7),
	.blink-circle-one:nth-child(8){
		width: 3%;
	}
	.blink-circle-one:nth-child(5) {
    		right: 37%;
    		bottom: 48%;
	}
	.mission h1{
		font-size: 25px;
	}
	.whiteppr_left,
	.whiteppr_ryt{
		width: 100%;
	}
	.whiteppr_ryt{
		background-color: transparent;
	}
	.pulse{
		top: -50%;
	}
	.header{
		padding: 0;
	}
	.header .container-sm{
		padding: 0;
	}
	.navbar-header {
    		padding: 15px 20px;
	}
	.header .nav.navbar-right{
		margin-left: 0;
		text-align: center;
		padding-bottom: 15px;
	}
	.navbar-collapse.collapse.in{ 
		background: #228799;
		background: -moz-linear-gradient(top, #228799 10%, #257D91 35%, #2B5C7A 60%, #304D6F 80%, #31456A 100%);
		background: -webkit-linear-gradient(top, #228799 10%, #257D91 35%, #2B5C7A 60%, #304D6F 80%, #31456A 100%);
		background: linear-gradient(to bottom, #228799 10%, #257D91 35%, #2B5C7A 60%, #304D6F 80%, #31456A 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228799', endColorstr='#31456a',GradientType=0 );
		margin-top: 0;
		position: relative;
		z-index: 999;
		border-radius: 0 0 2px 2px;
	}
	.navbar-default .navbar-toggle .icon-bar { 
		background-color: #ffffff;
		height: 3px;
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar{
		background-color: #32446a;
	}
	.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus {
		border-color: transparent;
		background-color: transparent;
	}
	.navbar-default .navbar-nav > li > a:hover, 
	.navbar-default .navbar-nav > li > a:focus{
		background-image: none;
	}
	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus {
		background-color: rgba(0, 0, 0, 0);
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{ 
		color: #fff;
	}
	.navbar-default .navbar-nav > li.contact-btn{
		display: inline-block;
		border:0; 
		border-radius: 0; 
		padding: 0; 
		font-weight: normal; 
		margin-left: 0;
	}
	.navbar-default .navbar-nav > li.contact-btn:hover, 
	.navbar-default .navbar-nav > li.contact-btn:focus{ 
		background-color: transparent; 
	}
	.banner_text h2 {
    		font-size: 21px;
	}
	.banner_text p{
		font-size: 16px;
		line-height: 28px;
	}
	.banner > span.dot_img {
    		top: 20px;
	}
	.banner ul{
		text-align: center;
		width: 100%;
	}
	.banner li{
		display: inline-block;
		padding: 0 3%;
	}
	.banner li::before{
		display: none;
	}
	.banner li span{
		position: unset;
	}
	.banner_text{
		padding-bottom: 0;
		padding-top: 150px;
	}
	.outr_mmb {
    		padding: 20px;
	}
	.outr_mmb{
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
		width: 350px;
		display: block;
		float: none;
	}
	.team-member a span{
		height: 300px;
	}
	li.team_list{
		display: flex;
		max-width: 100%;
		float: none;
		width: 400px;
		margin: 0 auto;
	}
	.page-header, .control-box {text-align: center;} 
	.team-member{ margin-bottom:25px;  }
	.item.active > div.test_item { display:none; }
	.item.active > div.test_item:first-child { display:block; }
	.row.partners img { width: 110px;}
	.form-group{ height: auto; }
	.col-md-6.col-sm-6.col-xs-12.test_item{ margin-bottom: 15px; }
	.control-label{ top: 0 }
	.plane-img{ left: 0 }
	.name-field{ padding-right: 0 }
	.email-field{ padding-left: 0 }
	.footer-outr {margin-top: 30px; padding-top: 30px; }
	.dropdown-menu > li:hover, .dropdown-menu > li:focus {background-color: #2e3e62;}
	.dropdown-menu > li:hover a, .dropdown-menu > li:focus  a{ color: #fff}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{ color: #fff;}
}
@media (max-width: 640px){
	.pulse{
		display: none;
	}
	.banner li h3{
		font-size: 19px;
	}
	.banner li p{
		font-size: 17px;
	}
	.year{
		margin: 40px 0;
		text-align: center;
		width: 100%;
	}
	.year_cont{
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}
	.left_about h3,
	.year_cont h4{
		font-size: 20px;
	}
}
@media (max-width: 499px) {
	.footer-outr{
		padding-right: 10px;
		padding-left: 10px;
	}
	.faq{
		padding: 8% 0;
	}
	.caption { word-break: break-all;}
	.navbar-nav > li {padding: 10px;}
}
@media (max-width: 360px) {
	.navbar-nav > li {padding: 7px;}
}
@media screen and (min-width: 320px) and (max-width: 640px) {
	.counterstart{margin-top: 20px; width: 100%; }
	.counterstart span{width: 40%;}
	.roadmapstartend ul li{width: 100%; margin-bottom: 30px; }
	.contntrd1{	position: inherit;   top: 0px;    left: 0;	}
	.contntrd2{	position: inherit;    bottom: 0px;    left: 0;}
	.contntrd3{ position: inherit;   top: 0px;    left: 0;	}
	.contntrd4{	position: inherit;    bottom: 0px;    left: 0;	}
	.contntrd5{ position: inherit;   top: 0px;    left: 0;	}
	.contntrd6{	position: inherit;    bottom: 0px;    left: 0;}
	.contntrd7{ position: inherit;   top: 0px;    left: 0;	}
	.contntrd8{	position: inherit;   bottom: 0px;    left: 0;	}
	.contntrd9{	position: inherit;    top: 0px;    left: 0;}
	.contntrd10{ position: inherit;   bottom: 0px;    left: 0;	}
	.contntrd11{ position: inherit;    top: 0px;    left: 0;	}
	.contntrd12{ position: inherit;   bottom: 0px;    left: 0;	}
	.bubblebotom{ position: inherit;   top: 0px;    left: 0; display: inline-block;	}
	.roadmapstartend ul{  padding: 34px 0 34px; width: 100%;    margin-top: 30px; border-bottom:0px solid #ccc; margin-bottom: 30px; border-top: 0 }
	.projectroadmap{ padding-bottom: 100px}
	.roadmapstartend{margin-top:0px;}
}
@media screen and (min-width: 641px) and (max-width: 767px) {
	.roadmapstartend ul li{width: 100%; margin-bottom: 30px; }
	.contntrd1{	position: inherit;   top: 0px;    left: 0;	}
	.contntrd2{	position: inherit;    bottom: 0px;    left: 0;}
	.contntrd3{ position: inherit;   top: 0px;    left: 0;	}
	.contntrd4{	position: inherit;    bottom: 0px;    left: 0;	}
	.contntrd5{ position: inherit;   top: 0px;    left: 0;	}
	.contntrd6{	position: inherit;    bottom: 0px;    left: 0;}
	.contntrd7{ position: inherit;   top: 0px;    left: 0;	}
	.contntrd8{	position: inherit;   bottom: 0px;    left: 0;	}
	.contntrd9{	position: inherit;    top: 0px;    left: 0;}
	.contntrd10{ position: inherit;   bottom: 0px;    left: 0;	}
	.contntrd11{ position: inherit;    top: 0px;    left: 0;	}
	.contntrd12{ position: inherit;   bottom: 0px;    left: 0;	}
	.bubblebotom{ position: inherit;   top: 0px;    left: 0; display: inline-block;	}
	.roadmapstartend ul{  padding: 34px 0 34px; width: 100%;    margin-top: 30px; border-bottom:0px solid #ccc; margin-bottom: 30px; border-top: 0 }
	.projectroadmap{ padding-bottom: 100px}
	.roadmapstartend{margin-top:0px;}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.roadmapstartend ul li{width: 100%; margin-bottom: 30px; }
	.contntrd1{	position: inherit;   top: 0px;    left: 0;	}
	.contntrd2{	position: inherit;    bottom: 0px;    left: 0;}
	.contntrd3{ position: inherit;   top: 0px;    left: 0;	}
	.contntrd4{	position: inherit;    bottom: 0px;    left: 0;	}
	.contntrd5{ position: inherit;   top: 0px;    left: 0;	}
	.contntrd6{	position: inherit;    bottom: 0px;    left: 0;}
	.contntrd7{ position: inherit;   top: 0px;    left: 0;	}
	.contntrd8{	position: inherit;   bottom: 0px;    left: 0;	}
	.contntrd9{	position: inherit;    top: 0px;    left: 0;}
	.contntrd10{ position: inherit;   bottom: 0px;    left: 0;	}
	.contntrd11{ position: inherit;    top: 0px;    left: 0;	}
	.contntrd12{ position: inherit;   bottom: 0px;    left: 0;	}
	.bubblebotom{ position: inherit;   top: 0px;    left: 0; display: inline-block;	}
	.roadmapstartend ul{  padding: 34px 0 34px; width: 100%;    margin-top: 30px; border-bottom:0px solid #ccc; margin-bottom: 30px; border-top: 0 }
	.projectroadmap{ padding-bottom: 100px}
	.roadmapstartend{margin-top:0px;}
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	span.start{width: 90px; height: 90px; line-height: 90px; }
	span.end{width: 90px; height: 90px; line-height: 90px;   }
}
@media screen and (min-width: 1280px) and (max-width: 1400px) {
	.footer-social-links{padding: 0;}
}