 .naoTooltip-wrap {
 	cursor: help;
 	display: inline-block;
 	position: relative;
 }
.naoTooltip:before {
	border-style: solid;
	content: '';
	display: block;
	height: 0;
	position: absolute;
	width: 0;
}
.naoTooltip {
	background-color: rgba(0,0,0,0.8);
	border-radius: 4px;
	box-shadow: none;
	color: #fff;
	font-size: 14px;
	opacity: 0;
	padding: 10px;
	position: absolute;
	text-align: center;
	visibility: hidden;
	width: 500px;
	z-index: 999;
}
.naoTooltip.nt-bottom:before{
	border-color: transparent transparent rgba(0,0,0,0.8) transparent;
	border-width: 0 8px 8px 8px;
	right: calc(50% - 8px);
	top: -8px;
}
.naoTooltip.nt-small {
	max-width: 125px;
}
.naoTooltip.nt-medium {
	max-width: 300px;
}
.naoTooltip.nt-large {
	max-width: 500px;
}